body {
    background-color: #111;
}

.main-text {
    color: white;
    font-family:'Consolas', monospace;
    text-align: center;
    top: 50%;
    left: 50%;
}

a {
    color: white;
    font-family:'Consolas', monospace;
    text-align: center;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;

    text-align: center;
    font-family:'Comfortaa', monospace;
}

.centertext {
    position: fixed;
    top: 25%;
    left: 35%;
    color: red;
    font-family:'Comfortaa', monospace;
}

.centertext2 {
    position: fixed;
    top: 20%;
    left: 35%;
    color: aquamarine;
    text-align: center;
    font-family:'Comfortaa', monospace;
}
